// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
