// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark-event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.bookmark-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0093d7;
  font-size: 18px;
}

.fa-heart-o {
  font-size: 18px;
  color: #666A73;
}

.fa-heart-o:hover {
  font-size: 18px;
  color: #0093d7;
}

// .bookmark-wrapper {
//   display: block;
//   transition-delay: 80ms;
//   opacity: 1;
//   transition: opacity .24s cubic-bezier(0,0,.35,1);
// }
