// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bookmark-event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.bookmark-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.fa-bookmark, .fa-bookmark-o {
  font-size: 24px;
  color: #666A73;
}


.fa-bookmark, .fa-bookmark-o:hover {
  color: #0093d7;
}
