// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.event-index-wrapper {
  // background: #f8f8fa;
  background: #fff;
}
.event-list-header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 200;
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 1px;
  -webkit-margin-before: 0;
  padding-top: 50px;
}

.event-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 55px;
}

.event-container {
  position: relative;
  color: black;
  margin: 15px;
  background: #fff;
  width: 330px;
  height: 300px;
  // box-shadow: 0 1px 5px 1px rgba(0,0,0,0.15);
  font-family: "Benton Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

  // opacity: 0;

  span {
    position: absolute;
    top: 138px;
    right: 15px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #eff2f5;
    padding: 10px;
    opacity: 0;
  }

  // .fa-heart-o {
  //   font-size: 18px;
  //   color: #666A73;
  // }
  //
  // .fa-heart-o:hover {
  //   color: #0093d7;
  // }
}

.event-container:hover {
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.15);

  opacity: 1;
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  -webkit-transition: opacity .45s cubic-bezier(0,0,.35,1);
  transition: opacity .45s cubic-bezier(0,0,.35,1);

  span {
    // display: block;
    opacity: 1;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-transition: opacity .45s cubic-bezier(0,0,.35,1);
    transition: opacity .45s cubic-bezier(0,0,.35,1);
  }
}

.event-container img {
  height: 158px;
}

.event-price-span {
  background-color: rgba(255,255,255,.92);
  text-transform: uppercase;
  line-height: 18px;
  font-size: 13px;
  color: #282C35;
  // box-sizing: border-box;
  padding: 2px 10px;
  position: absolute;
  // display: inline-block;
  top: 10px;
  right: 10px;
  letter-spacing: 0.5px;
}

.eventIndex-detailsDiv {
  margin: 24px;
  letter-spacing: 0.4px;
  display: flex;

  .month-day {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding-right: 16px;
    max-width: 48px;

    p {

    }

    p.month {
      color: #f6682f;
      font-size: 12px;
      line-height: 1.4;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-align: center;
      text-transform: uppercase;
    }

    p.day {
      color: #666a73;
      font-size: 1.25rem;
      line-height: 1.4;
      font-weight: 300;
      text-rendering: optimizeLegibility;
      text-align: center;
    }

    p.weekday {
      color: #666a73;
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: 200;
    }
  }
}

.datetime-p {
  padding-top: 10px;
  font-size: 13px;
  color: #666A73;
  text-transform: uppercase;
}

.event-info-index {
  display: flex;
  flex-direction: column;
}

.event-title {
  font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  font-size: 1.05rem;
  line-height: 1.4;
  color: #363a43;
  margin: 0;
  font-weight: 400;
  overflow: visible;
}

.event-index-location {
  font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #666A73;
  line-height: 1.4;
  overflow: hidden;
  margin-top: 0px;
  text-overflow: ellipsis;
  // white-space: nowrap;
  // border-bottom: 3px solid #f6682f;
}

.eventBookmarkDiv {
  border-top: 1px solid #EEF2E5;
}
