// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.event-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event-container {
  position: relative;
  color: black;
  margin: 20px;
  width: 325px;
  height: 400px;
  box-shadow: 0 3px 8px 2px rgba(22,22,22,0.45);
}

.event-container-hover {
  position: absolute;
  width: 325px;
  height: 400px;
  z-index: 20;

}

.event-container-hover:hover {
 background-color: rgba(0,0,0,0.45);
 ;
}

.event-form-container {
  border: 2px solid black;
  padding-top: 100px;
}

.event-show-container-outer {
  max-width: 850px;
  margin: auto;
}

.event-show-container {

  padding-top: 100px;
  display: flex;
  justify-content: space-around;

}

.show-page-image {
  height: 300px;
  width: 500px;
}

.event-list-header {
  display: flex;
  justify-content: center;
}

.description-show-page {
  margin: 0 30px 30px 30px;
}

.tickets-button {
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px;
  background-color: #4ae083;
  color: white;
  width: 160px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue";
  font-weight: 100;
  box-shadow: 0 4px 6px -2px rgba(22,22,22,0.45);
}

.tickets-button:hover {
  background-color: #01461c;
}
