// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.event-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-container {
  border: 2px solid black;
  padding: 5px;
  color: black;
  margin: 20px;
  width: 300px;
  height: 400px;
}

.event-form-container {
  border: 2px solid black;
  padding-top: 100px;
}

.event-show-container {
  border: 2px solid black;
  padding-top: 100px;
}

.show-page-image {
  height: 300px;
  width: 50%;
}

.event-list-header {
  display: flex;
  justify-content: center;
}
