// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.event-index-wrapper {
  background: #f8f8fa;
}
.event-list-header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 200;
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 1px;
  -webkit-margin-before: 0;
  padding-top: 50px;
}

.event-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}

.event-container {
  position: relative;
  color: black;
  margin: 17px;
  width: 330px;
  height: 300px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.15);
  font-family: "Benton Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

// .event-container-hover {
//   position: absolute;
//   width: 330px;
//   height: 300px;
//   z-index: 10;
// }

.event-container img {
  height: 158px;
}

.event-price-span {
  background-color: rgba(255,255,255,.92);
  text-transform: uppercase;
  line-height: 18px;
  font-size: 13px;
  color: #282C35;
  // box-sizing: border-box;
  padding: 2px 10px;
  position: absolute;
  // display: inline-block;
  top: 10px;
  right: 10px;
  letter-spacing: 0.5px;
}

.eventIndex-detailsDiv {
  padding: 20px;
  letter-spacing: 0.3px;
  display: flex;

  .month-day {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding-right: 16px;
    max-width: 48px;

    p {

    }

    p.month {
      color: #f6682f;
      font-size: 12px;
      line-height: 1.4;
      font-weight: 400;
      letter-spacing: 0.5px;
      text-align: center;
      text-transform: uppercase;
    }

    p.day {
      color: #666a73;
      font-size: 1.25rem;
      line-height: 1.4;
      font-weight: 400;
      text-rendering: optimizeLegibility;
      text-align: center;
    }
  }
}

.datetime-p {
  padding-top: 10px;
  font-size: 13px;
  color: #666A73;
  text-transform: uppercase;
}

.event-title {
  font-size: 1.25rem;
  line-height: 19px;
  color: #363a43;
  margin: 0;
  height: 25px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-index-location {
  font-size: 13px;
  color: #666A73;
  height: 20px;
  line-height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.eventBookmarkDiv {
  border-top: 1px solid #EEF2E5;
}
