.event-show-container-outer {
  max-width: 1080px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}

.event-show-container {
  padding-top: 100px;
  display: flex;
  // justify-content: space-around;
  background: white;
  font-family: "Benton Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "sans-serif";
  border-bottom: 1px solid #D2D6DF;
  font-weight: 300;
}

.show-page-image {
  height: 360px;
  width: 715px;
}

.show-event-details-wrapper {
  // padding-left: 35px;
  // background-color: #F4F2F1;
  width: 100%;
  // background: rgba(255, 255, 255, 0.9);
  background: #F9F6F2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;

  .show-event-details {
    padding: 30px 30px 20px 30px;
    margin: 0;
    letter-spacing: 0.5px;
  }

  p {
    color: #45494e;
    // font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    // letter-spacing: 0.5px;
  }

  p.month {
    font-size: 12px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 500;
  }

  p.day {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
  }

  p.organizer-show {
    color: #666A73;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 15px;
  }

  .ticket-priceDiv {
    // display: block;
    // position: absolute;
    font-size: 15px;
    font-weight: 400;
    bottom: 20px;
    padding-left: 30px;
  }
}


.bookmark-register-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #D2D6DF;
}

.register-button {
  cursor: pointer;
  margin-left: 655px;
  border-radius: 3px;
  // margin: 15px auto;
  padding: 5px;
  background-color: #00ab44;
  color: white;
  width: 315px;
  height:30px;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Benton Sans,-apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  // font-family: "Montserrat", "Open Sans", "Helvetica Neue";
  font-weight: 100;
  box-shadow: 0 4px 6px -2px rgba(22,22,22,0.45);
}

.register-button:hover {
  background-color: #00451b;
}

.event-show-moreDetails {
  font-family: "Benton Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  display: flex;
  // justify-content: space-around;
  padding-bottom: 50px;
}

.description-show-page {
  margin: 0 30px 30px 110px;
  // max-width: 575px;
  max-width: 45%;
}

.event-show-headers {
  font-family: Benton Sans, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  font-size: 12px;
  padding-top: 30px;
  font-weight: 600;
  line-height: 18px;
  color: #282C35;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.description-paragraph {
  color: #666A73;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-size: 15px;
}
.eventDateTimeLocation {
  margin-left: 130px;
}

.date-location {
  color: #45494E;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
