// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.event-list-header {
  display: flex;
  justify-content: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 1px;
}

.event-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
  // background-color: #F8F8FA;
}

.event-container {
  position: relative;
  color: black;
  margin: 17px;
  width: 330px;
  height: 300px;
  box-shadow: 0 3px 8px 2px rgba(22,22,22,0.45);
  // font-family: 'Convergence', sans-serif;
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.event-container-hover {
  position: absolute;
  width: 330px;
  height: 300px;
  z-index: 10;

}

.event-container-hover:hover {
  background-color: rgba(0,0,0,0.45);
}

.eventIndex-detailsDiv {
  padding-left: 10px;
  letter-spacing: 0.5px;
}

.datetime-p {
  padding-top: 10px;
  font-size: 13px;
  color: #666A73;
  text-transform: uppercase;
}

.event-title {
  font-size: 15px;
  line-height: 19px;
  color: #4c4c4c;
  margin: 5px 0px;
}

.event-index-location {
  font-size: 13px;
  color: #666A73;
}

.eventBookmarkDiv {
  border-top: 1px solid #EEF2E5;
}
