@import 'sessions.scss';
@import 'users.scss';
@import 'static_pages.scss';
@import 'events.scss';
@import 'event_form.scss';

.login-input {
  border: none;
  border-bottom: 1px solid black;
}

body {
  font-family: sans-serif;
}
