.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 1px 2px 0px rgba(22,22,22,0.45);
  line-height: 60px;
}

.left-nav {
  /*// font-family: "Benton Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;*/
  font-family: 'Convergence', sans-serif;
  font-size: 20px;
  color: #F6682F;
  font-weight: bold;
  border-right: 1px solid #EFF2F5;
  padding: 0 20px;
  letter-spacing: 0.5px;
}

.right-nav {
  font-family: 'Convergence', sans-serif;
  display: flex;
  color: #45494E;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.navlink-container {
  display: flex;
  align-items: center;
  border-left: 1px solid #EFF2F5;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  padding: 0 20px;
}
.navlink-container:hover {
  background-color: #EFF2F5;
}

// Container <div> - needed to position dropdown content
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
// Dropdown Content (Hidden by default)
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
// Links inside dropdown
.dropdown-content a, button.logout-button-container {
  padding: 0px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
// change color of dropdown links on hover
.dropdown-content a:hover {
  background-color: #EFF2F5;
}
// show dropdown menu on hover
.dropdown:hover .dropdown-content {
  display: block;
}
// change background color of dropdown button when dropdown content is shown
.dropdown:hover .dropbtn {
  background-color: #EFF2F5;
}

.navlink-ticketed, .navlink-saved, .navlink-organized {
  // display: flex;
  // justify-content: space-between;
}

.navlink-dropdown {
  font-size: 14px;
  min-width: 170px;
}

.navlink-organized {
  border-bottom: 1px solid #EFF2F5;
}

// className added to highlight entire background of button
.logout-button-container {
  background-color: #fff;
  min-width: 170px;
  font-size: 14px;
}
.logout-button-container:hover {
  background-color: #EFF2F5;
  min-width: 170px;
}

i.fa-user-circle {
  font-size: 20px;
  color: #F6682F;
  padding-right: 5px;
}

i.fa-angle-down {
  font-size: 20px;
  padding-left: 5px;
  font-weight: 300;
  color: inherit;
}

.create-event-link {
  color: #0093d7;
  border-left: 1px solid #EFF2F5;
  padding: 0 20px;
}
.create-event-link:hover {
  color: #013653;
}
