// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// .modal {
//     top: 50%;
//     left: 50%;
//     right: auto;
//     bottom: auto;
//     margin-right: -50%;
//     transform: translate(-50%, -50%)
// }


.modal {
  // z-index: 10;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 400px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-color: white;
  // background-color: rgba(0,0,0, 0.2); rgb(0,0,0)
  overflow-x: hidden;
}

// .modal-overlay {
//   height: 100%;
//   width: 100%;
//   display: fixed;
//   left: 0px;
//   top: 0px;
//   background-color: rgba(0,0,0,0.1);
// }

.session-form-submit-button {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 5px;
  background-color: #F6682F;
  color: white
}
