// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// .modal {
//     top: 50%;
//     left: 50%;
//     right: auto;
//     bottom: auto;
//     margin-right: -50%;
//     transform: translate(-50%, -50%)
// }

.ReactModal__Overlay--after-open {
  background-color: rgba(255, 255, 255, 0.25);
}
// .ReactModalPortal {
// }

.modal {
  // z-index: 10;
  top: 50%;
  left: 50%;
  min-height: 421px;
  min-width: 360px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.3);
  // background-color: rgba(0,0,0, 0.2); rgb(0,0,0)
  overflow-x: hidden;
  opacity: 0;
  animation: myFade 0.5s linear 0.5s ;
  animation-fill-mode: forwards;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  display: fixed;
  left: 0px;
  top: 0px;
  // background-color: rgba(255, 255, 255, 0.25);
  // background-color: rgba(400,400,400,0.1);
}

@-webkit-keyframes myFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal:target {
  display:none;
}

.btn {
  padding: 7px 8px;
  background: #3786ad;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.signup-session-terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue";
  font-size: 12px;
}

.login-form-container {
  height: 100%;

  .login-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin: 27px 32px;
    font-family: gotham, helvetica, arial, sans-serif;

    ul {
      width: 100%;
    }

    li {
      text-align: center;
      margin: 10px 0px;
    }

    li.header-text-li {
      margin-bottom: 0px;
    }

    .modal-header-text {
      font-size: 20px;
      font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
      color: #747474;
      letter-spacing: 0.5px;
      // padding-bottom: 20px;
    }

    .errors-container {
      padding: 20px 0px 0px 0px;
    }

    li.errors {
      color: red;
      font-size: 12px;
      margin: 0;
      box-sizing: border-box;
      letter-spacing: 0.5px;
    }

    .username-password-li {
      text-align: left;
    }

    .username-password-input {
      width: 100%;
      border-radius: 7px;
      line-height: 1.8;
      border: 1px solid #cacaca;
      // font-family: gotham, helvetica, arial, sans-serif;
      letter-spacing: 1px;
      color: #3b3b3b;
      box-sizing: border-box;
      font-weight: 400;
      padding: 0.3em 0.75em;
    }

    .username-password-input:focus {
      border-color: #7aa7cf;
      outline: none;
      box-shadow: 0 0 0 1px #7aa7cf, 0 0 4px 0 #3d96e3;
    }

    .guest-login-button {
      border-radius: 7px;
      background-color: #F6682F;
      color: white;
      width: 100%;
      display: flex;
      justify-content: center;
      // font-family: gotham, helvetica, arial, sans-serif;
      font-weight: 300;
      box-shadow: 0 4px 6px -2px rgba(22,22,22,0.45);
      letter-spacing: 1px;
      line-height: 1.8;
      box-sizing: border-box;
      padding: 0.3em 0.75em;
    }

    .guest-login-button:hover {
      background-color: #fd348b;
      background-image: radial-gradient(farthest-corner at 80% 100%,#f86044 0,#fd348b 100%);
    }

    .change-form-link {
      font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;

      .change-form-question {
        font-size: 14px;
        font-weight: 400;
        color: #747474;
        letter-spacing: 0.5px;
        padding: 5px 0px;
      }
    }
  }
}

.signup-login-link {
  color: #0093d7;
}

.signup-login-link:hover {
  color: #013653;
}
