// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// .modal {
//     top: 50%;
//     left: 50%;
//     right: auto;
//     bottom: auto;
//     margin-right: -50%;
//     transform: translate(-50%, -50%)
// }

.ReactModal__Overlay--after-open {
  background-color: rgba(255, 255, 255, 0.25);
}
// .ReactModalPortal {
// }

.modal {
  // z-index: 10;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.3);
  // background-color: rgba(0,0,0, 0.2); rgb(0,0,0)
  overflow-x: hidden;
  opacity: 0;
  animation: myFade 0.5s linear 0.8s ;
  animation-fill-mode: forwards;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  display: fixed;
  left: 0px;
  top: 0px;
  // background-color: rgba(255, 255, 255, 0.25);
  // background-color: rgba(400,400,400,0.1);
}

@-webkit-keyframes myFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal:target {
  display:none;
}

.btn {
  padding: 7px 8px;
  background: #3786ad;
  font-size:12px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}


.session-form-submit-button {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 5px;
  background-color: #F6682F;
  color: white;
  width: 160px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue";
  font-weight: 100;
  box-shadow: 0 4px 6px -2px rgba(22,22,22,0.45);
}

.session-form-submit-button:hover {
  background-color: #b73a08;
}

.guest-login-button {
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px;
  background-color: #F6682F;
  color: white;
  width: 160px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue";
  font-weight: 100;
  box-shadow: 0 4px 6px -2px rgba(22,22,22,0.45);
}

.guest-login-button:hover {
  background-color: #b73a08;
}

.signup-session-terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue";
  font-size: 12px;
}

.login-form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue";
  font-weight: 200;
}
//
// .logo {
//   width: 28%;
//   display: flex;
//   justify-content: center;
// }
