// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6682F;
  cursor: pointer;
}

.fa:hover {
  // background-color: #EFF2F5;
}

.login-form {
  text-align: center;
  input {
    text-align: center;
  }
}

.logo {
  width: 29%;
  height: auto;
}
.errors {
  padding: 5px;
}

.eventListenr-home-container {
  font-family: 'Convergence', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  color: #F6682F;
  // font-size: 15px;
}

.header-name {
  color: white;
}

.header-button {
  color: black;
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.login-input {
  background-color: white;
  display: flex;
  align-self: center;
  border: 1px solid gray;
}

#login-signup {
  font-family: 'Convergence', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 6px -2px rgba(22,22,22,0.45);

  .session-link-container {
    height: 36px;
    display: flex;
    background-color: #EFF2F5;
    // padding: 10px;
  }

  .session-link-container:hover {
    background-color: #EFF2F5;
  }

  a {
    border: 0;
    line-height: 60px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;

  }

  // a:hover {
  //   background-color: #EFF2F5;
  // }
}

.homepage-image {
    min-height: 600px;
    background-image: url(http://res.cloudinary.com/dtluc0y85/image/upload/c_scale,h_370,w_615/v1500534602/homepage_test_ltezbc.gif);
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
}
