// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 29%;
  height: auto;
}

.header-name {
  color: white;
}

.header-button {
  color: black;
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
}

.carousel-slide-title {
  color: white;
  font-size: 25px;
  align-content: center;
  font-family: "Benton Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  opacity: 1;
  z-index: 10000;
}

.slick-prev {
  left: -25px;
  // font-size: 42px;
  // width: 0;
}

.slick-prev:before, .slick-next:before {
  font-size: 42px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}

.splash-image {
  height: 700px;
  width: 100%;
}

.splash-text-container {
  z-index: 100;
  display: flex;
  justify-content: center;
  // background: #f8f8fa;
}

.slick-dots {
  bottom: 7px;

  li button:before {
    color: white;
    font-size: 10px;
    opacity: 1;
  }
}

.splash-text {
  font-family: "Benton Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  z-index: 100;
  background-color: white;
  color: #f6682f;
  font-weight: 200;
  padding: 35px;
  font-size: 35px;
  border: 1px solid #EFF2F5;
  text-align: center;
  border-radius: 5px;
  width: 60%;
  letter-spacing: 2px;
  margin-top: -5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
}

.img-wrapper {
  width: 100%;
  // height: 750px;
  overflow: hidden;
}

.parallax {
    min-height: 600px;
    background-image: url(https://res.cloudinary.com/dtluc0y85/image/upload/c_scale,h_370,w_615/v1500534602/homepage_test_ltezbc.gif);
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
}
