// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-ticket-form {
  // z-index: 10;
  top: 50%;
  left: 50%;
  height: 488px;
  width: 660px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.3);
  // background-color: rgba(0,0,0, 0.2); rgb(0,0,0)
  overflow-x: hidden;
  opacity: 0;
  animation: myFade 0.5s linear 0.5s ;
  animation-fill-mode: forwards;
}

.ticket-form {
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  background-color: #f8f8fa;
  height: 100%;
}

.ticket-header-container {
  background-color: #eff2f5;
  width: 100%;
}

.ticket-modal-header {
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 19px;
  line-height: 58px;
  font-weight: 500;
  -webkit-margin-before: 0em;
  margin-bottom: 20px;
}

.sale-ends-header {
  color: #45494E;
  letter-spacing: 0.5px;

  p {
    margin: 10px 18px;
    font-size: 15px;
  }
}

.ticket-title-container {
  background: #fff;
  line-height: 3;
  margin: 12px 18px;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  border-radius: 2px;
  border-left: 14px solid #0093d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-title-container {
  h2 {
    margin-top: -10px;
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  p {
    line-height: 0;
    padding-bottom: 10px;
    color: #45494E;
  }
}

.ticket-quantity-selector {
  max-width: 100%;
  width: 80px;
  height: 45px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid lightgray;
  font-size: 17px;
  margin-bottom: 10px;
}

.filler-div {
  height: 202px;
}

.ticket-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  border-top: 1px solid #c6c6c6;

  div {
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  }
}

.quantity-cost-container {
  color: #45494E;
  letter-spacing: 0.5px;
  padding: 25px;

  p {
    padding-right: 100px;
    font-weight: 300;
  }
}

.tickets-button {
  cursor: pointer;
  border-radius: 3px;
  margin: 14px 20px;
  padding: 5px;
  background-color: #00ab44;
  color: white;
  width: 110px;
  height: 33px;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  font-family: Benton Sans,-apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
  font-weight: 100;
  box-shadow: 0 4px 6px -2px rgba(22,22,22,0.45);
}

.tickets-button:hover {
  background-color: #00451b;
}
