// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-container {
  padding-top: 100px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.ticketed-event-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
